body{
    background-color: rgb(255, 255, 255);
}


.center-div{
    width: 80%;
    height: 70%;
    background-color: rgb(84,84,84);
    position: absolute;
    border: 2px solid rgb(41, 40, 40);
    border-radius: 15px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    padding-left: 2%;
    padding-right: 2%;
    overflow-y: auto;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}


.everything-container{
    background-color: rgb(96, 96, 99);
    border: black 1px solid;
    border-radius: 10px;
    margin-bottom: 3%;
    height:8.5vw;
    overflow: hidden;
    padding-left:2%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

#description{
    display: inline-block;
    color:rgb(255, 255, 255);
    font-size: 2vw;
    font-family: Arial ;
    margin-left:1vw;
    width:100%;

}

button-div{
    width: 200%; 
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

button {
    /* padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px; */
    padding: 2% 3%;
    height:5vw;

    font-family: Arial, Helvetica, sans-serif;
    margin: 2%;
    font-size: 1.5vw;
}

  
/* Style the container with rounded corners and padding */
div {
  position: relative; /* Ensure relative positioning for pseudo-elements */
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  /* Add other styles for the container */
}

/* Hide the default scrollbar */
div::-webkit-scrollbar {
  width: 16px; /* Reduced width for the scrollbar */
  background-color: transparent;
  /* background-color: #252424; */
}

/* Style the scrollbar thumb for WebKit-based browsers */
div::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
  /* Reduced height for the scrollbar thumb */
  height: 20px;
}

@media (max-width: 480px) {
    body {
        background-color: black;
    }

    .center-div{
        width: initial;
        height: initial;
        background-color: initial;
        position: initial;
        border: initial;
        border-radius: initial;

        overflow-x: initial;
        padding-left: initial;
        padding-right: initial;
        overflow-y: initial;
        margin: initial;
        padding-top: initial;
        padding-bottom: initial;
        position: relative;
        top: 200px;
        bottom:30px;
    }

    #description{
        font-size: 4vw;
        margin-left: 2%;
    }

    .everything-container{
        height:15vw;
    }

    div::-webkit-scrollbar {
        width:10px;
    }

    button{
        width:20vw;
        height:10vw;
        font-size: 3vw;
    }

}
