<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Iot</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="center-div">
        <div id="container">
            <div id="description">
                Id : 1
            </div>
            <button-div>
                <button>Toggle</button>
            </button-div>
        </div>
        <div id="container">
            <div id="description">
                Id : 1
            </div>
            <button-div>
                <button>Toggle</button>
            </button-div>
        </div>
        <div id="container">
            <div id="description">
                Id : 1
            </div>
            <button-div>
                <button>Toggle</button>
            </button-div>
        </div>
        <div id="container">
            <div id="description">
                Id : 1
            </div>
            <button-div>
                <button>Toggle</button>
            </button-div>
        </div>
        <div id="container">
            <div id="description">
                Id : 1
            </div>
            <button-div>
                <button>Toggle</button>
            </button-div>
        </div>
        <div id="container">
            <div id="description">
                Id : 1
            </div>
            <button-div>
                <button>Toggle</button>
            </button-div>
        </div>
        <div id="container">
            <div id="description">
                Id : 1
            </div>
            <button-div>
                <button>Toggle</button>
            </button-div>
        </div>
        <div id="container">
            <div id="description">
                Id : 1
            </div>
            <button-div>
                <button>Toggle</button>
            </button-div>
        </div>
        <div id="container">
            <div id="description">
                Id : 1
            </div>
            <button-div>
                <button>Toggle</button>
            </button-div>
        </div>
        
    </div>
</body>
</html>