aiohttp==3.8.6
aiosignal==1.3.1
anyio==4.0.0
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
Django==4.2.6
djangorestframework==3.14.0
frozenlist==1.4.0
gunicorn==21.2.0
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
idna==3.4
iso8601==2.1.0
multidict==6.0.4
packaging==23.2
phonenumbers==8.13.19
prompt-toolkit==3.0.36
pytz==2023.3.post1
questionary==2.0.0
requests==2.31.0
sniffio==1.3.0
sqlparse==0.4.4
truecallerpy==1.0.3
twitchio==2.8.2
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.4
wcwidth==0.2.6
yarl==1.9.2
